* {
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

.page-wrapper {
    overflow: hidden;
    max-width: 375px;
    margin: auto;
    border-radius: 7px;
    background: #F9F9F9;
    box-shadow: 9px 4px 30px 0px rgba(167, 167, 167, 0.40);
}

.container {
    max-width: 336px;
    margin: auto;
}

.header {
    color: #fff;
    padding: 23px 29px 127px;
    background: url('../img/header.png') no-repeat center / cover;
    border-radius: 0px 0px 35px 35px;
}

.hello {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.hello-text {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.user {
    margin-top: -41px;
    text-align: center;
    background: #FCFCFC;
    box-shadow: 7px 4px 30px rgba(195, 191, 191, 0.25);
    border-radius: 10px 10px;
    padding-bottom: 18px;
}

.user-avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FFF;
    margin-top: -55px;
}

.user-name {
    margin-top: 4px;
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 500;
}

.user-description {
    font-size: 15px;
    font-weight: 400;
    margin-top: 11px;
}

.card {
    background: #FCFCFC;
    box-shadow: 7px 4px 30px rgba(195, 191, 191, 0.25);
    border-radius: 10px 10px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 20px;
}

.text {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

.button {
    background: black;
    height: 40px;
    flex-shrink: 1;
    width: 100%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    margin: auto;
    gap: 10px;
}

.button.vk {
    background: #4C75A3;
}

.button.tg {
    background: #2AABEE;
}

.photo {
    margin-top: 25px;
    margin-left: 5px;
}

.text-photo {
    margin-top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }